<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="connectionString" value="Data Source=WINDOWS-54FKSM9\\SQLEXPRESS; Initial Catalog=Konferenz; Integrated Security=true"/>
        <add key="parentTable" value="Zeitschrift"/>
        <add key="childTable" value="Ausgabe"/>
    </appSettings>
</configuration>